<div class="container">

	<div class="text-bg">

		<h1 class="edit-user-profile">Profile</h1>
		<br/>

		<p><%= @user.name %></p>
		<p><img src= <%= @user.avatar %> /></p>

		<%= link_to 'Edit', user_edit_path(@user), {:class => "btn btn-info", :style => "margin: 0 45%;"} %>
	</div>
</div>