<div class="container">

	<div class="text-bg">

		<div class="profile-info">
			<h1><%= @user.name %></h1>
			<div class="profile-avatar">
				<img src= <%= @user.avatar %> />
			</div>
		</div>

		<br/>
		<br />
		<%= link_to 'Edit Your Profile', user_edit_path(@user), {:class => "btn btn-submit", :style => "margin-left: 40%"} %>
	</div>
</div>