<div class="container">
	<h1 class="results-title">Listing all outlets in "<%= params[:keyword] %>"</h1>


	These are the outlets in RESULT
	<% @outlets.each do |outlet| %>
		<p><%=outlet.name%></p>
	<% end %>

</div>