/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	background-color: #FAFAFA;
	background-image: asset-url('bg.jpg');
	font-family: 'Roboto', sans-serif;
}

.logo-home {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 70px;
	text-shadow: 1px 1px #4F5A78;
	margin-top: 20%;
	margin-bottom: 2%;
	color: #4BC0D4;
	/*text-align: center;*/
}

.results-card {
	margin: 2%;
}

.results-title, .log-in-title {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
	margin: 3%;
	text-align: center;
}

.results-card-header-c {
	background-color: #FAD584;
	display: flex;
	justify-content: space-between;
}

.results-card-header-m {
	background-color: #FCC1B3;
	display: flex;
	justify-content: space-between;
}

.outlet-name {
	font-weight: bold;
	text-transform: uppercase;
}

.outlet-name a{
	color: #000000;
}
/*.outlet-name a:hover {
	color: #4BC0D4;
}*/

.address {
	text-transform: uppercase;
}

.checkboxes form {
	padding: 5px;
}

.outlet-logo img {
	width: 50%;
	height: auto;
}

.new-outlet-title, .edit-outlet-title, .edit-user-profile {
	text-align: center;
	margin-top: 2%;
}

.outlets-show, .log-in-card {
	background-color: #FAFAFA;
	margin-top: 2%;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
}

.log-in-card {
	padding: 2%;
	text-align: center;
}

.navbar-buttons {
	text-align: center;
}

.navbar-buttons a:hover {
	color: #4BC0D4;
}

.btn-submit {
	background-color: #4BC0D4;
	color: #FFFFFD;
	font-size: 1.2em;
	margin-left: 5%;
	padding: 1% 2%;
}

.edit-page-buttons {
	text-align: center;
	width: 100%;
	margin-top: 2%;
}

.btn-submit:hover {
	border: 1px solid #4BC0D4;
	color: #4BC0D4;
	background-color: transparent;
}

.btn-outline-back {
	border: 1px solid #4BC0D4;
	color: #4BC0D4;
	font-size: 1.2em;
	padding: 1% 2%;
}

.btn-outline-back:hover {
	background-color: #4BC0D4;
	color: #FFFFFD;
}

.btn-edit {
	background-color: #4BC0D4;
	color: #FFFFFD;
	font-size: 1.2em;
	padding: 1% 2%;
	margin: 0 2%;
}

.btn-edit:hover {
	border: 1px solid #4BC0D4;
	color: #4BC0D4;
	background-color: transparent;
}

.show-buttons {
	text-align: center;
	margin-bottom: 2%;
}

.autoText-container {
	height: 100vh;
}

.text-bg {
	background-color: #FAFAFA;
	padding: 5%;
	border: 1px solid #DADADA;
}

.profile-info, .profile-avatar {
	text-align: center;
}

.profile-avatar img {
	width: 150px;
	height: auto;
}

.outlet-card {
	background-color: #FAFAFA;
	margin: 5% 0;
}

.outlet-card-body{
	text-align: center;
}

.outlet-card-info {
	margin: 2%;
}

.outlet-card-info p {
	margin-bottom: 0;
}

.outlet-card-name {
	margin: 2%;
	text-transform: uppercase;
	font-weight: bold;
}

.outlet-card-address-1 {
	margin: 0;
}

// .card-text {
// 	font-size: 1.2em;
// }

.outlet-card-menu {
	margin-top: 5%;
	border-top: 1px solid #DADADA;
}

.outlet-card-menu-button {
	margin-top: 2%;
	width: 500px;
	height: auto;
}

.outlet-card-menu p {
	font-size: 1.2em;
	font-weight: bold;
}

.outlet-card-avatar {
	width: 300px;
	height: auto;
}

.about-page {
	height: 100vh;
	text-align: center;
}

.about-page h2 {
	font-size: 1.5em;
}

.about-logo {
	margin-top: 2% !important;
	margin-bottom: 1% !important;
}

.about-body {
	font-size: 1em;
	text-align: left;
	margin: 10%;
}

////////////////////////////////////////////////////////////
////////////////*MOBILE RESPONSIVE*////////////////////////
 @media only screen and (max-width: 700px) {

 	.profile-avatar img {
 		width: 100%
 	}
 	.logo-home {
 		font-size: 40px;
 		margin: 0 0 5% 0;
 	}

 	.results-title {
 		font-size: 1em;
 	}

 	.card-header {
 		font-size: 0.8em;
 	}

 	.card-title {
 		font-size: 1em;
 	}

 	.card-text {
 		font-size: 0.8em;
 	}

 	.outlet-info p {
 		margin-bottom: 0.5em;
 	}

 	.outlet-logo img {
 		width: 100%;
 	}



 }