/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	background-color: #FAFAFA;
	background-image: url("bg.jpg");
	font-family: 'Roboto', sans-serif;
}

.logo-home {
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	font-size: 60px;
	text-shadow: 1px 1px #4F5A78;
	margin-top: 20%;
	margin-bottom: 2%;
	color: #4BC0D4;
	text-align: center;
}

.results-card {
	margin: 2%;
}

.results-title {
	font-family: 'Libre Baskerville', serif;
	font-size: 2rem;
	margin: 3%;
	text-align: center;
}

.results-card-header-c {
	background-color: #FAD584;
	display: flex;
	justify-content: space-between;
}

.results-card-header-m {
	background-color: #FCC1B3;
	display: flex;
	justify-content: space-between;
}

.outlet-name {
	font-weight: bold;
}

/*.outlet-name a:hover {
	color: #4BC0D4;
}*/

.address {
	text-transform: uppercase;
}

.new-outlet-title {
	text-align: center;
	margin-top: 2%;
}

.outlets-show {
	background-color: #FAFAFA;
	margin-top: 2%;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
}

.navbar-buttons {
	text-align: center;
}

/*.halal-type option, .dining_type option {
	width: 5%;
	margin: 5%;
}*/