.autoText-container {
	text-align: center;
}

.AutoText {
	// margin: 0 25%;
	width: 50%;
	// border: 1px solid grey;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
	font-size: 20px;
	font-family: sans-serif;
	display: inline-block;

}

.AutoText input {
	width: 100%;
	border: none;
	font-size: 20px;
	font-family: sans-serif;
	padding: 10px 5px;
	box-sizing: border-box;
	outline: none;
}

.AutoText ul {
	list-style-type: none;
	text-align: left;
	margin: 0;
	padding: 0;
	border-top: 1px solid grey;
}

.AutoText ul::before {
	content: "";
}

.AutoText li {
	padding: 10px 5px;
	cursor: pointer;
	background-color: #FFFFFD;
}

.AutoText li::hover {
	text-decoration: underline;
	background-color: rgba(128, 128, 128, 0.20);
}

.Searchbtn {
	margin: 0 20px;
	position: absolute;
	// background-color: #FFC040;
	background-color: #4BC0D4;
	// color: #FAFAFA;
	color: #FFFFFD;
}

.footer {
	padding-top: 15px;
	margin-top: 40vh ;
}