// .autoText-container {
// 	text-align: center;
// }

.AutoText {
	// margin: 0 25%;
	width: 50%;
	// border: 1px solid grey;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
	font-size: 20px;
	font-family: sans-serif;
	display: inline-block;

}

.AutoText input {
	width: 100%;
	border: none;
	font-size: 20px;
	font-family: sans-serif;
	padding: 10px 5px;
	box-sizing: border-box;
	outline: none;
}

.AutoText ul {
	list-style-type: none;
	text-align: left;
	margin: 0;
	padding: 0;
	border-top: 1px solid grey;
}

.AutoText ul::before {
	content: "";
}

.AutoText li {
	padding: 10px 5px;
	cursor: pointer;
	background-color: #FFFFFD;
}

.AutoText li::hover {
	text-decoration: underline;
	background-color: rgba(128, 128, 128, 0.20);
}

.Searchbtn {
	margin: 0 20px;
	position: absolute;
	background-color: #4BC0D4;
	color: #FFFFFD;
}

.Searchbtn:hover {
	color: #FFFFFD;
	box-shadow: 0 5px 15px rgba(75, 192, 212, 1);
}

.btn-form {
	background-color: #4BC0D4;
	color: #FFFFFD;
	margin: 0 50%;
	font-size: 1.3em;
}

.homepage-pic img {
	width: 70%;
}

.homepage-pic h1 {
	padding: 2% 21% 0 21%;
	color: #B55C3C;
	font-size: 1.6em;
}

.search-area, .homepage-pic {
	 margin-top: 10vh;
	 padding: 0;
}

.search-area {
	padding-left: 5%;
}