<div class="container">
	<div class="text-bg about-page">
		<h1 class="logo-home about-logo">JOMMAKAN</h1>
		<h3>The only halal list you need</h3>

		<div class="about-body">
			This directory lists all the halal eateries in Singapore that are either MUIS halal-certified or Muslim-owned. So you can safely eat without any <i>waswas</i>. Just pick a location and ask your friends to "Jom, makan!"
			<br/>
			<br/>
			<h4>Our halal validation process</h4>
			<br/>
			<b>1) MUIS Halal-certified</b>
			<br/>
			 You can find MUIS own halal directory <a href="https://www.muis.gov.sg/Halal/Halal-Certification/Certified-Eating-Establishments" target="_blank">here</a>.
			<br/>
			<br/>
			<b>2) Muslim-owned</b>
			<br/>
			 Our team will personally go down to the store to enquire with the owners directly.
		</div>

	</div>
</div>